/* this is for global styles */
.title-header {
    font-size: 48px;
    color: black;
}

.title-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-container {
    background-image: url("./map-with-pins.jpeg");
    height: 100vh;
    width: 100%;
}

.title-button {
    margin: 0px 30px 0px 30px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.workspace-header {
    padding: 10px;
    background-color: darkseagreen;
    text-align: center;
    font-size: 28px;
    height: 64px;
}

.map-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.map {
    width: 75%;
    flex: 1 0 auto;
}

.google-map-react {
    height: 100%;
    width: 100%;
}

.sidebar {
    /* background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin: 10px;
    width: 25%;
    overflow-y: scroll;
}

.note-body {
    outline: none;
    resize: none;
    border: none;
    overflow: hidden;
}

.note-title {
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
}